* {
  box-sizing:border-box;
}
body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.App{
  padding: 20px;
  background-color: rgb(248, 252, 250);
  border-radius: 5px;
  box-shadow: 0 2px 10px 0;
  width: 400px;
}
h1{
  text-align: center;
  margin: 0 0 20px;
}
form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control select-selected {
  position: absolute;
  background-color: #777;
  width: 100%;

}

.custom-select {
  position: relative;
}

.form-control select-selected::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.form-control.success input {
  border-color: green;

}
.form-control.error input {
  border-color: red;
}
.form-control p {
 /*position: absolute;
  bottom: 0;
  left: 0;*/
  display: none;
}
.form-control.error p{
  visibility: visible;
}
button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  display: block;
}